{% extends "base.html" %}
{% block header-content %}
<h3>Cache</h3>
<p>Cache is used for storing pregenerated output and/or objects in the Big
    Table datastore to minimize the amount of queries needed for page
    displays. The idea is that complex queries that generate the same
    results really should only be run once. Cache can be used to store
    the values made from queries (or other calls such as
    urlFetch()), or the query objects themselves.<br />
    Cache stores data in both memcache and the datastore, preferring to read
    from memcache. This helps optimize performance, limiting hits to the
    datastore.
</p>
{% endblock %}
{% block doc %}
<h3>Documentation</h3>

{% endblock %}
{% block content %}
    cacheItemStr = {{ cacheItemStr }}<br />
    cacheItemObj = {{ cacheItemObj.0 }}<br />
    dynamickey = {{ dynamickey }}<br />
    {{ memcacheStats }}
<div class="code">
<h2>webapp class</h2>
<pre>{% filter escape %}class CachePage(webapp.RequestHandler):
  def get(self):
    self.cache = cache.Cache()
    # test deleting a cache object
    del self.cache["sampleStr"]
    # set a string
    if not "sampleStr" in self.cache:
        self.cache["sampleStr"] = "This is a string passed to the cache"
    # store an object
    if not "sampleObj" in self.cache:
        self.cache["sampleObj"] = ["this was set up as a list to test object caching"]
    self.memcacheStats = memcache.get_stats()
    template_values = {
        'cacheItemStr': self.cache["sampleStr"],
        'cacheItemObj': self.cache["sampleObj"],
        'memcacheStats': self.memcacheStats,
    }
    path = os.path.join(os.path.dirname(__file__), 'templates/cache.html')
    self.response.out.write(template.render(path, template_values))

{% endfilter %}</pre>
</div>
<div class="code">
<h2>template</h2>
<pre>{% filter escape %}
    cacheItemStr = {% templatetag openvariable %} cacheItemStr {% templatetag closevariable %}<br />
    cacheItemObj = {% templatetag openvariable %} cacheItemObj.0 {% templatetag closevariable %}<br />
{% endfilter %}</pre>
</div>
{% endblock %}
